@import url( 'https://fonts.googleapis.com/css2?family=Kalnia:wght@500&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.Poppins-regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  font-style: normal;
}
.bg{
    background-image: url('./assets/bg.jpg');
    background-position: center;
    background-size: 100% 100%;
    min-height: 85vh;
}
.main-color{
    background-color: #DDE6ED;
}
.main-color-text{
    color: #9DB2BF;
}
.bg-color{
        background-color:rgb(245, 247, 248,0.9);

}
form{
    box-shadow: 10px 10px  10px #9DB2BF;
    background-color:rgb(245, 247, 248,0.9);
}
.note{
    box-shadow: 10px 10px  10px #9DB2BF;
 ;
}
.large-padding{

}
.small-padding{
padding: 1.25rem;
}
.small-margin{
    margin-inline: 20px;
}